<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SUKI Login</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/actions.js" defer></script>
  <link rel="icon" type="image/png" href="/assets/SUKI Logo 2.png">
</head>
<body>
  <div class="page-container">
    <div class="login-box">
      <div class="logo-container">
        <img src="/assets/SUKI_Logo_1.png" alt="SUKI Logo">
      </div>

      <h2>Welcome Back to <span class="highlight">SUKI</span></h2>

      {{#if error}}
        <div class="error-message">
          {{error}}
        </div>
      {{/if}}
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Enter your username" required />
        </div>

        <div class="input-group password-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your password" required />
          <span class="toggle-password" onclick="togglePassword()">👁️</span>
        </div>

        <div class="options">
          <label><input type="checkbox"> Remember me</label>
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
